body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  background-color: #F2F2F2;
  }
p{
  line-height: 2;
}
div {
  margin: 0;
  padding: 0;
  border: 0;
}
h1{
  font-family: 'Montserrat', sans-serif;
  color: #125B50;
}
h2{
  font-family: 'Montserrat', sans-serif;
  padding-top: 20px;
  color: #125B50;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #125B50;
}
hr{
  border-style: none;
  border-top: dotted;
  border-top-color:grey;
  border-width: 10px;;
  border-spacing: 5px;
  width: 5%;
  border-collapse: separate;
}
.profile{
  margin: 0;
  height:625px;

}
.name {
  margin: 0;
  color: #F8ECD1;
  font-size: 500%;
  font-family: 'Sacramento', cursive;
  padding-top: 100px;
  padding-bottom:0;
}
/*............................skills section.................................*/

.skills{
  margin: 0;
  height:700px;
text-align: center;
}
.editing{
  width:20%;
  margin-right: 50px;
  float: left
}
.sound{
width: 20%;
float: right;
margin-left:50px;

}
.skill-row{
  margin:100px auto 100px auto;
  width:60%;
  height:25%;
  text-align: justify;
}

/*............................profile section.................................*/
.profile-pic{
height: 300px;
border-radius: 30px;
position: relative;
top:70px;
}

.bio{
  position: relative;
  top:100px;
}
.top-container {
  margin: 0;
  height:625px;
  background-image: url(https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
}

/*.............................bottom container...............................*/

.contact-me{
  margin:100px auto 0 auto;
  height:300px;
}

.credit{
  padding-bottom: 0;

}

.bottom-container{
height:2px;
}

/*.................................Button....................................*/

.btn {
  line-height: 4;
  font-size:20px;
  font-family:Arial;
  width:140px;
  height:100px;
  border-width:10px;
  padding: 10px;
  color:#fff;
  border-color:#4e6096;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  background:linear-gradient(rgb(120, 146, 194), #476e9e);
}

.btn:hover {
  background: linear-gradient(#476e9e, rgb(120, 146, 194));
}
